
.glav {
    width: 100%;
    overflow: hidden;
}
.karusel_img {
    width: 100%;
}
    
    .nav_li:hover{
        color:white !important;
    }

.main {
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    /* width: 50%; */
    height: 500px;

}

.main2 {
    width: 100%;
    padding-top: 3%;
    background-image: url(https://cdn.pixabay.com/photo/2015/07/10/15/13/building-839362_1280.jpg);
    background-size: cover;
    height: 800px;
}

.main3 {
    width: 100%;
    margin-top: -8%;
    background-image: url(https://on-desktop.com/wps/2017Nature_Beautiful_aurora_in_the_night_sky__Iceland_120132_.jpg);
    background-size: cover;
    height: 1550px;
}



.ges {
    color: #d4ff00;
    text-shadow: 2px 3px red;
    font-size: 300%;
    /* width:600px; */
    text-align: center;
    margin-left: 16%;
    padding-top: 13%;
}

.animas {
    position: absolute;
    font-size: 3vw;
    text-shadow: 0 0 0.3vw;
    text-transform: uppercase;
    /* user-select: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    color: #01fe87;
    text-shadow: 0 0 0.3vw #383d52;
    /* border-right: 2px solid #01fe87; */
    overflow: hidden;
    animation: animate 1s;

}

.animationDiv {
    width: 100%;
}

.animationDiv h1 {
    width: 70%;
    position: relative;
    left: 17%;
    margin-left: 0;
    animation-name: h1Anim;
    animation-duration: 1s;
}


@keyframes h1Anim {
    0% {
        left: 0;
    }

    60% {
        left: 30%;
    }

    100% {
        left: 20%;
    }
}

@keyframes animate {
    0%, 10% {
        width: 0;
    }
    80% {
        width: 100%;
    }

    100% {
        width: 70%;
    }
}

.animas::before {
    content: attr(title);

}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.btn {
    background-color:cornflowerblue  !important;
    color: black;
    text-align: center;
    margin-top: 2%;
    padding-top: .2%;
    padding-right: 3%;
    padding-left: 3%;
    text-decoration: none;
    margin-left: 16%;
    border: none;
    border-radius: 15px;
    border: none;
    width:12rem !important;
    height:2.5rem !important;
}

.btn2 {
    width:5vw !important;
}

.btn:hover {
    background-color: blue !important;
    color: white;
}

a {
    text-decoration: none;
}

.loyxa {
    margin-top: 5%;
    margin-left: 17%;
    color: rgb(249, 186, 72);
    font-size: 200%;
}

.aj {
    margin-left: 17%;
    color: yellow;
    font-size: 120%;
    font-weight: 700;
}

.malu {
    color: yellow;
    font-size: 300%;
    width: 70%;
    text-align: center;
    margin-left: 14%;
    padding-top: 5%;
}
.bank-div{
    width: 72%;
    height: 600px;
    margin-left: 13%;
}

.yul {
    font-size: 130%;
    border: none;
    background-color: red;
    /* color:yellow; */
    border-radius: 20px;
    margin-top: 9px;
    margin-left: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    transition: 1s;
}

.yul:hover {
    background-color: blue;
    color: white;

}
.malumot {
    background-color: black;
}
.contact {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 6px;
}

.name {
    flex: 1 0 130px;
    margin: 3% 0 5% 15%;
    color: aliceblue;
}

@media only screen and (max-width : 992px) {
    .nav_bar {
        height: 60px;
        padding-top: 10px;
    }
    .nav_logo{
        padding-bottom: 10px;
        padding-top: 3px;
    }
    .nav_li {
        display: inline-block;
    }
    .ges{
        font-size: 40px;
    }
    .btn {
        margin-top: -2%;
        padding: 5px 20px;
        font-size: 20px;
    }
}
@media only screen and (max-width : 576px) {
    .main2 {
        height: 450px;
    }
    .img {
        height: 350px;
        padding-bottom: 5%;
    }
    .bank-div {
        margin-bottom: 0;
    }
    .karusel {
        height: 400px !important;
    }
}
@media only screen and (max-width : 770px) {
    .aj {
        margin-left: 2%;
    }
    .malu {
        font-size: 40px;
    }
    .karusel {
        width: 100%;
    }
    .karusel img {
        height: 300px !important;
        margin-top: 30%;
    }
    .animationDiv {
        padding-top: 20%;
        font-size: 25px;
    }
}
@media only screen and (max-width : 400px) {
    .animationDiv h1 {
        padding-top: 25%;
        font-size: 30px !important;
    }
}